.body {
  font-family: "Mulish", sans-serif;
}
.weather-app-wrapper {
  max-width: 700px;
  padding: 10px;
  margin: 20px auto;
  /* background: rgba(252, 252, 252, 0.6); */
  background: rgba(25, 157, 161, 0.2);
  border-radius: 10px;
  color: rgb(33, 139, 134);
  box-shadow: 15px -15px 10px 0 rgba(31, 135, 118, 0.6);
}
.search-form {
  background: rgba(80, 156, 144, 0.466);
  padding: 20px;
  margin: 10px;
  border: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 131, 135, 0.37);
}
.btn-search {
  color: #fff;
  background: rgb(33, 139, 134);
  box-shadow: 0 8px 32px 0 rgba(31, 131, 135, 0.5);
  transition: all 150ms ease-in-out;
}
.btn-search:hover {
  font-weight: 600;
  color: #fff;
  background: rgba(80, 170, 125, 0.8);
  opacity: 0.9;
  cursor: pointer;
}
.overview {
  text-align: left;
  margin: 10px;
  border: 2px solid rgba(129, 214, 193, 0.555);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 131, 135, 0.37);
}
h1 {
  padding-left: 20px;
  margin: 10px;
  position: relative;
  top: 7px;
  font-weight: 400;
}
li {
  list-style-type: none;
  font-size: 12px;
  position: relative;
  top: 1px;
}
.overview-details {
  margin: auto 0;
  font-size: 50px;
  padding: 30px;
}
.overview-icon {
  font-size: 50px;
  font-weight: 400;
  margin: auto 0;
  position: relative;
  right: 20px;
}
.weather-temp strong {
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}
/* .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
} */
.temperature strong {
  color: rgb(33, 33, 33);
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
  font-weight: 500;
}
a {
  text-decoration: none;
  cursor: default;
}
.active {
  color: rgb(33, 139, 134);
}
.weather-box {
  border: 2px solid rgba(129, 214, 193, 0.555);
  border-radius: 10px;
  padding: 20px;
  margin: auto 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 131, 135, 0.37);
}
.weather-icon {
  font-size: 20px;
}
.box-icon {
  font-size: 45px;
}
h5 {
  text-align: center;
}
.weather-forecast {
  padding: 20px;
  margin: 10px;
  text-align: center;
  border: 2px solid rgba(129, 214, 193, 0.555);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 131, 135, 0.37);
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
footer {
  text-align: center;
  margin-bottom: 10px;
  transition: all 150ms ease-in-out;
}
.links {
  text-decoration: none;
}
.links:hover {
  font-weight: 700;
  cursor: pointer;
}

/* 
font-family: 'Lato', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
 */
