.body {
  font-family: "Mulish", sans-serif;
}
.weather-app-wrapper {
  max-width: 700px;
  padding: 10px;
  margin: 20px auto;
  /* background: rgba(252, 252, 252, 0.6); */
  background: rgba(25, 157, 161, 0.2);
  border-radius: 10px;
  color: rgb(33, 139, 134);
  box-shadow: 0 8px 32px 0 rgba(31, 135, 40, 0.37);
}
.search-form {
  background: rgba(80, 156, 144, 0.466);
  padding: 20px;
  margin: 10px;
  border: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 135, 40, 0.37);
}
.btn-info {
  color: #fff;
  box-shadow: 0 8px 32px 0 rgba(31, 135, 40, 0.37);
}
.btn-search {
  color: #fff;
  background: rgb(33, 139, 134);
  box-shadow: 0 8px 32px 0 rgba(31, 135, 40, 0.37);
  transition: all 150ms ease-in-out;
}
.btn-search:hover,
.btn-success:hover {
  font-weight: 600;
  color: #fff;
  background: rgba(80, 170, 125, 0.8);
  opacity: 0.9;
  cursor: pointer;
}
.overview {
  text-align: left;
  margin: 10px;
  border: 2px solid rgba(129, 214, 193, 0.555);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 135, 40, 0.37);
}
.overview-icon {
  font-size: 50px;
  font-weight: 400;
  margin: auto 0;
}
h1 {
  padding-left: 20px;
  margin: 10px;
  position: relative;
  top: 7px;
}
li {
  list-style-type: none;
  font-size: 12px;
  position: relative;
  top: 1px;
}
.overview-details {
  margin: auto 0;
  font-size: 50px;
  padding: 30px;
}
.overview-icon {
  font-size: 50px;
  font-weight: 400;
}
.weather-temp {
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
}
.units {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
}
.units a {
  font-size: 16px;
  color: rgb(33, 139, 134);
  text-decoration: none;
}
.unis a:hover {
  font-weight: 700;
  color: rgb(32, 110, 45);
}
/* .separate {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 24px;
  top: -34px;
} */

.weather-box {
  border: 2px solid rgba(129, 214, 193, 0.555);
  border-radius: 10px;
  padding: 20px;
  margin: auto 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 135, 40, 0.37);
}
.weather-icon {
  font-size: 20px;
}
.box-icon {
  font-size: 50px;
}
h5 {
  text-align: center;
}
.weather-forecast {
  border: 2px solid rgba(129, 214, 193, 0.555);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 135, 40, 0.37);
}
.weather-forcast-day {
  padding: 10px;
  margin: 10px;
}
.weather-forecast-temperature {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  margin: 10px;
}
.weather-forecast-min {
  color: rgb(0, 119, 255);
}
.weather-forecast-max {
  color: rgb(255, 0, 0);
}
footer {
  text-align: center;
  font-size: 13px;
  line-height: 2px;
  margin-bottom: 10px;
  transition: all 150ms ease-in-out;
}
.links {
  text-decoration: none;
}
.links:hover {
  font-weight: 700;
  cursor: pointer;
}

/* 
font-family: 'Lato', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
 */
